@model OnlineShop.OnlineClient.Pagination.Models.PaginationModel<OnlineShop.BusinessLogic.Models.OrderModel>
@using OnlineShop.OnlineClient.App_Code
@{
    ViewData["Title"] = "Orders list";
}

<div>
    <div class="form-group">
        <div class="input-group" id="datetimepicker">
            <input type="text" class="form-control" />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </div>
</div>

<div class="ml-5 mt-5">
    <h3>Orders List</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>№</td>
                <td>Date</td>
                <td>Manager</td>
                <td>Client</td>
                <td>Item</td>
                <td>Price</td>
                @if (User.IsInRole("admin"))
                {
                    <td>Edit</td>
                    <td>Delete</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Items)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Date</td>
                    <td>@order.Manager</td>
                    <td>@order.Client</td>
                    <td>@order.Item</td>
                    <td>@order.AmountOfMoney</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            <a asp-action="EditOrder" asp-controller="Data" asp-route-id="@order.OrderId">Edit</a>
                        </td>
                        @* <td><a asp-action="DeleteOrder" asp-controller="Data" asp-route-id="@order.OrderId">Delete</a></td>*@
                        <td><input type="button" asp-action="DeleteOrder" asp-controller="Data" asp-route-id="@order.OrderId" onclick="ConfirmDelete()" />Delete</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div>
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Orders", new {page = x}))
    </div>
</div>

<script>
    function ConfirmDelete()
    {
        var x = confirm("Are you sure you want to delete?");
        return x;
    }
</script>

<script>
    $(function() {
    $('#datetimepicker').datetimepicker({
    locale: 'ru'
    });
    });
</script>
