@model OnlineShop.OnlineClient.Pagination.Models.PaginationModel<OnlineShop.BusinessLogic.Models.ClientModel>
@using OnlineShop.OnlineClient.App_Code
@{
    ViewData["Title"] = "Clients list";
}

<div class="ml-5 mt-5">
    <div>
        <h3>Clients List</h3>
        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <td>№</td>
                    <td>Name</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>Edit</td>
                        <td>Delete</td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Items)
                {
                    <tr>
                        <td>@client.Id</td>
                        <td>@client.Name</td>
                        @if (User.IsInRole("admin"))
                        {
                            <td><a asp-action="Edit" asp-controller="Item" asp-route-id="@client.ClientId">Edit</a></td>
                            <td><a asp-action="Delete" asp-controller="Item" asp-route-id="@client.ClientId">Delete</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div id="paginationBlock">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Client", new {page = x}))
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
            $('#paginationBlock a').click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'post',
                    url: $(this).attr('href'),
                    success: function(data) {
                        $('#dataDiv').html(data);
                    },
                    error: function(req, status, error) {
                        console.log(error);
                    }
                });
            });
        });
</script>
