@model OnlineShop.OnlineClient.Infrastructure.Pagination.PaginationModel<OnlineShop.BusinessLogic.Models.OrderModel>
@using OnlineShop.OnlineClient.App_Code

<div class="ml-5 mt-5">
    <h3>Orders List</h3>
    <table class="table table-bordered" id="table">
        <thead>
            <tr>
                <td>№</td>
                <td>Date</td>
                <td>Manager</td>
                <td>Client</td>
                <td>Item</td>
                <td>Price</td>
                @if (User.IsInRole("admin"))
                {
                    <td>Edit</td>
                    <td>Delete</td>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var order in Model.Items)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Date</td>
                        <td>@order.Manager</td>
                        <td>@order.Client</td>
                        <td>@order.Item</td>
                        <td>@order.AmountOfMoney</td>
                        @if (User.IsInRole("admin"))
                        {
                            <td><a asp-action="Edit" asp-controller="Order" asp-route-id="@order.OrderId" id="editOption">Edit</a></td>
                            <td><a asp-action="Delete" asp-controller="Order" asp-route-id="@order.OrderId" id="deleteOption">Delete</a></td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
    <br />
    <div id="paginationBlock">
        @if (Model != null)
        {
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Order", new {page = x}))
        }
    </div>
</div>
