@model OnlineShop.OnlineClient.Pagination.Models.PaginationModel<OnlineShop.BusinessLogic.Models.ItemModel>
@using OnlineShop.OnlineClient.App_Code
@{
    ViewData["Title"] = "Items list";
}

<div class="ml-5 mt-5">
    <div>
        <h3>Items List</h3>
        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <td>№</td>
                    <td>Name</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>Edit</td>
                        <td>Delete</td>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            @if (User.IsInRole("admin"))
                            {
                                <td><a asp-action="Edit" asp-controller="Item" asp-route-id="@item.ItemId">Edit</a></td>
                                <td><a asp-action="Delete" asp-controller="Item" asp-route-id="@item.ItemId">Delete</a></td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
        <div id="paginationBlock">
            @if (Model != null)
            {
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Item", new {page = x}))
            }
        </div>
    </div>
</div>

